*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem o;
    background: rgba(100, 168, 237, 0.212);
}

.heading span{
    color:rgb(205, 186, 15)
}

.btn{
    display: inline-block;
    margin-top: 10px;
    border-radius: 5rem;
    background: #333;
    color:#fff;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover{
    background: cadetblue;
}

header .logo img {
    width: 50px; 
    height: auto; 
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1001;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0);
}

header .navbar a{
    font-size: 13px;
    padding: 30px;
    color: black;
}

header .navbar a:hover{
	color:cadetblue;
	transition: color 0.3s ease;
}

header .icons a{
    font-size: 15px;
    color: black;
    margin-left: 50px;
}

header .icons a:hover{
    color:cadetblue;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('assets/hitam.jpg');
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 40px;
    color: rgb(205, 186, 15);
}

.home .content span{
    font-size: 20px;
    color: cadetblue;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 15px;
    color: whitesmoke;
    padding: 1rem 0;
    line-height: 1.5;
}

.heading{
    font-size: 3rem;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.5);
    height: 100%;
    object-fit: cover;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.product {
    background: #f2f2f2;
    padding: 2rem 0;
}

.product .heading {
    text-align: center;
    font-size: 5rem; 
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(100, 168, 237, 0.212);
}

.product .heading span {
    color: rgb(205, 186, 15);
}

.card {
    position: relative;
    width: 320px; /* Sesuaikan lebar kartu sesuai kebutuhan */
    height: auto; /* Ubah menjadi auto untuk menyesuaikan tinggi berdasarkan konten */
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    margin: 49px; /* Sesuaikan margin untuk menjaga jarak antara kartu */
    display: inline-block; /* Tetapkan kartu secara inline */
    vertical-align: top; /* Alihkan kartu ke atas */
}

.card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px; 
}

.card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px; 
}

.card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: rgb(205, 186, 15);
    border-radius: 30px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

.keripik {
    height: auto; 
    max-width: 100%; 
}

.makaroni {
    height: auto; 
    max-width: 100%; 
}

.basreng {
    height: auto; 
    max-width: 100%; 
}

.mie  {
    height: auto; 
    max-width: 100%; 
}

.bakso  {
    height: auto; 
    max-width: 100%; 
}

.nasi  {
    height: auto; 
    max-width: 100%; 
}

.review {
    background: #fff;
    padding: 2rem 0;
}

.review .heading {
    text-align: center;
    font-size: 5rem; 
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(100, 168, 237, 0.212);
}

.review .heading span {
    color: rgb(205, 186, 15);
}

.col {
    flex: 25%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Menengahkan konten vertikal dalam kolom */
    text-align: center; /* Menengahkan teks horizontal dalam kolom */
    margin: 50px;
    display: inline-block; /* Tetapkan kartu secara inline */
}

.reviews {
    background: #f2f2f2;
    padding: 20px;
    text-align: center; /* Menengahkan teks horizontal dalam kotak review */
}

.reviews img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px; /* Menambahkan jarak antara gambar dan teks */
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: rgb(205, 186, 15);
    margin-bottom: 20px;
}

.contact {
    background: #fff;
    padding: 2rem 0;
}

.contact .heading {
    text-align: center;
    font-size: 5rem; 
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(100, 168, 237, 0.212);
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url('assets/kucing.jpg') no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.field{
	width: 100%;
	outline: none;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	background-color: rgba(230,230,230,0.6);
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.container-footer{
  max-width: 1170px;
  margin:auto;
}

.row-footer{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
  background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: rgba(100, 168, 237, 0.212);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: lowercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: rgb(205, 186, 15);
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: burlywood;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #fff;
  background-color:  cadetblue;
}
