
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background: cadetblue; 
}


.container {
    width: 100%; 
    display: flex; 
    max-width: 850px;
    background: #fff; 
    border-radius: 15px; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}


.login {
    width: 400px; 
}


form {
    width: 250px; 
    margin: 60px auto; 
}


h1 {
    margin: 20px; 
    text-align: center; 
    font-weight: bolder; 
    text-transform: uppercase; 
    color: rgb(205, 186, 15);
}


hr {
    border-top: 2px solid #cbdadc; 
}


p {
    text-align: center; 
    margin: 10px; 
    color: #0f0b0a;
}


.right img {
    width: 450px; 
    height: 100%; 
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 
}


form label {
    display: block; 
    font-size: 16px; 
    font-weight: 600; 
    padding: 5px; 
}


input {
    width: 100%; 
    margin: 2px; 
    border: none; 
    outline: none; 
    padding: 8px; 
    border-radius: 5px; 
    border: 1px solid gray;
}


button {
    border: none; 
    outline: none; 
    padding: 8px; 
    width: 252px; 
    color: #fff; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 20px; 
    border-radius: 5px; 
    background: #333; 
}


button:hover {
    background: cadetblue; 
    transition: background-color 0.3s ease; 
}


.small-link {
    font-size: 12px; 
    text-align: left; 
    margin-top: 5px; 
}

